body{
    margin:0;
}
nav{
    background-color: aquamarine;
    margin:0;
    height: 80px;
    padding-top:40px;
}

.navbar{
    display:flex;
    width:500px;
    justify-content: space-around;
    list-style-type: none;
    margin:0;
}

.nav-link{
    text-decoration: none;
    color:black;
}
#hero-section{
    height:80vh;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
}